<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond %{HTTP_HOST} ^www.iconsofslovenia.com [NC]
RewriteRule ^(.*)$ https://iconsofslovenia.com/$1 [L,R=301]

RewriteCond %{HTTPS} =on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

RewriteBase /


RewriteCond %{HTTP_USER_AGENT} ^facebookexternalhit
RewriteCond %{REQUEST_URI} !^/share.php
RewriteRule .* /share.php [L]

RewriteCond %{REQUEST_URI} !^/counter.php
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
</IfModule>
